{% extends 'layout.twig' %}

{% block javascripts %}
  <script src="javascripts/adminpage.js"></script>
{% endblock %}

{% block body %}
  <h1>{{title}}</h1>

  <div class="dashboard-controls">
    <a class="logout" href="/logout">Logout</a>
    <button class="export-data">Export</button>
    <button class="delete-data">Delete</button>
    <div class="message"></div>
  </div>
  {% endblock %}