{% extends 'layout.twig' %}

{% block javascripts %}
{% if isAdmin %}

{% else %}
<script>
  $(function () {
    $('#har-download').on('change', function () {
      const filename = $(this).val();
      $('#har-download-form').find('input[name="filename"]').val(filename);
      $('#har-download-form').submit();
    });
  });
</script>
{% endif %}
{% endblock %}

{% block body %}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href='/logout'>Logout</a>
<br><br><br>

{% if isAdmin %}

{% else %}
<div>
  <label>
    Upload HAR file:
    <form action='/har_upload' method='POST' enctype='multipart/form-data'>
      <input type='file' name='har_upload'>
      <input type='submit' value='Upload'>
    </form>
  </label>
</div>
<br>
<div>
  <label>
    Download HAR file:
    <select id="har-download">
      <option disabled selected>Select a HAR file to download</option>
      {% for file in files %}
      <option name="{{ file }}">{{ file }}</option>
      {% endfor %}
    </select>
    <form id="har-download-form" action='/har_download' method='POST'>
      <input name="filename">
    </form>
  </label>
</div>
<br>
<div>
  <label>
    Update Username:
    <form class="form" action='/update_username' method='POST'>
        <input type="text" name="oldusername" placeholder="Old Username">
        <input type="text" name="newusername" placeholder="New Username">
        <input type='submit' value='Submit'> 
    </form> 
  </label>
</div>
<br>
<div>
  <label>
    Update Password:
    <form class="form" action='/update_password' method='POST'>
      <input type="text" name="username" placeholder="Username"> 
      <input type="password" name="oldpassword" placeholder="Old Password">
      <input type="password" name="newpassword" placeholder="New Password">
      <input type="password" name="repnewpassword" placeholder="Repeat New Password">
      <input type='submit' value='Submit'>  
    </form> 
  </label>
</div>
{% endif %}
{% endblock %}
